{% extends "base.html" %}

{% block title %} 
Form (POST)
{% endblock title %}

{% block style %}
<style type='text/css'>
	input
	{
		display:block;
	}
</style>
{% endblock style %}


{% block body %}
<h1>Form (POST)</h1>
Win $5000:
<form action='/submit' method='POST' enctype="application/x-www-form-urlencoded">
	<label>Credit Card Number:</label>
	<input type='text' name='ccn'/>
	<label>Social Security Number:</label>
	<input type='text' name='ssn'/>
	<input type='submit' value='Enter'/>
</form>
{% endblock body %}
